/* -----------
// Media Query Responsive Breakpoints
--------------
*/
$small: 576px;
$medium: 768px;
$large: 992px;
$xlarge: 1280px;

/* -----------
// Variables
--------------
*/
$header-height: 80px;

/* -----------
// Imports
--------------
*/
@import 'theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';
@import 'layout.scss';
@import 'header.scss';
@import 'nav.scss';
@import 'admin.scss';

/* -----------
// Typography
--------------
*/
body {
    font-family: var(--font-family);
}

h1, h2 {
    font-family: var(--header-font-family);
}

h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 26px;
    color: var(--text-color);
    text-align: left;
    text-shadow: 0em 0em 0.27em rgb(255 255 255 / 76%);
}

h4{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--primary-color);
    letter-spacing: 1px;
}