body {
    background: var(--surface-0);
    color: var(--text-color);
    padding: 0px; margin: 0px;
}

.main{
    margin-top: $header-height;
}

.container{
    max-width: $large;
    margin-left: auto;
    margin-right: auto;
}