nav {
    float: right;
}

nav ul{
    float: left;
    list-style: none;
}

nav ul li{
    display: inline-block;
    font-size: 14px;
    padding-right: 22px;
    font-family: var(--header-font-family);
}

nav ul li a{
    color: #ffffff;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    display: block;
    position: relative;
}

/* -----------
// Mobile Nav
--------------
*/
@media (min-width: $large){
    .mobile-nav{
        display: none;
    }
}

@media (max-width: $large - 1px){
    .top-nav{
        display: none;
    }
}